* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(145deg, #E95F32 , #F18F34 40%, #FDC800 , #FFEF26 ); */
    background-image: url(img/sun.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 50%; */
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.background {
    width: 350px;
    height: 350px;
}
.background::before, .background::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
}
.background::before {
    top: 75px;
    left: 75px;
    border-radius: 20px;
    background: rgb(252, 171, 65);
}
.background::after {
    bottom: 75px;
    right: 75px;
    border-radius: 50%;
    background: rgb(239, 129, 18);
}
.clock {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(255, 255, 255,0.2);
    border-left: 1px solid rgb(255, 255, 255,0.2);
    background: url("img/clock.png");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 80px rgb(0,0,0,0.4);
}
.circle {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #000;
}
.hr {
    transform-origin: bottom;
    width: 4px;
    height: 35px;
    background: #301601;
    border-radius: 4px;
    top:calc(50% - 35px);
    left:calc(50% - 2px);
    transform: rotateZ(0deg);
}
.min {
    transform-origin: bottom;
    width: 2px;
    height: 45px;
    background: #fff;
    border-radius: 4px;
    top:calc(50% - 45px);
    left:calc(50% - 1px);
    transform: rotateZ(0deg);
}
.sec {
    transform-origin: bottom;
    width: 2px;
    height: 50px;
    background: rgb(255, 213, 0);
    border-radius: 4px;
    top:calc(50% - 50px);
    left:calc(50% - 1px);
    transform: rotateZ(0deg);
}